[Files]
input = inputs.txt
simulation_log = log-sim.txt
simulation_script = simulate.do
simulation_output = results-sim.txt
reference_log = log-ref.txt
reference_script = reference
reference_output = results-ref.txt

[Simulation]
clock = 10 ns
duration = 10 ns
generate_input = false
default_input = constant 0