[Input]
file = inputs.txt
tstart = 0ns
tend = 10ns
tstep= = 10ns

[Simulation]
script = simulate.do
log = log-sim.txt
results = results-sim.txt
enable_log = true
clock = 1ns
tstart = 0ns
tend = 10ns
tstep = 10ns

[Reference]
script = reference
log = log-ref.txt
results = results-ref.txt
enable_log = true
tstart = 0ns
tend = 10ns
tstep = 10ns