[Input]
file = inputs.txt
tstart = 0ns
tend = 10ns
tstep = 10ns

[Simulation]
command = source ./simulate.do "${duration}"
setup =
log = log-sim.txt
results = results-sim.txt
disable_log = false
clock = 1ns
tstart = 0ns
tend = 10ns
tstep = 10ns

[Reference]
executable = reference
log = log-ref.txt
results = results-ref.txt
disable_log = false
tstart = 0ns
tend = 10ns
tstep = 10ns

[Validation]
threshold = 0